/* Tùy chỉnh màu nền của toàn bộ table */
.Admin {
    min-height: 100vh;
    background-color: #162f48;
}


.Admin .ant-table,
.table-versions .ant-table {
    background: #001529;
    color: #ffffff;
}

/* Tùy chỉnh header của table */
.Admin .ant-table-thead>tr>th,
.table-versions .ant-table-thead>tr>th {
    background: #001529 !important;
    color: #ffffff !important;
    border-bottom: 1px solid #434343;
}

/* Tùy chỉnh các hàng dữ liệu */
.Admin .ant-table-tbody>tr>td,
.table-versions .ant-table-tbody>tr>td {
    background: #001529 !important;
    border-bottom: 1px solid #434343;
}

/* Nếu bạn muốn custom các hover row */
.Admin .ant-table-tbody>tr:hover>td,
.table-versions .ant-table-tbody>tr:hover>td {
    background: #002140 !important;
}

.Admin .ant-modal-content {
    background-color: #001529 !important;
    color: #ffffff !important;
}

.not-viewed {
    color: red;
}

/* Tùy chỉnh modal container */
.modal-versions .ant-modal-content {
    background-color: #001529 !important;
    color: #ffffff !important;
    border-radius: 4px;
}

/* Tùy chỉnh header của modal */
.modal-versions .ant-modal-header {
    background-color: #001529 !important;
    border-bottom: 1px solid #434343 !important;
}

/* Tùy chỉnh tiêu đề modal */
.modal-versions .ant-modal-title {
    color: #ffffff !important;
}

/* Tùy chỉnh body modal */
.modal-versions .ant-modal-body {
    background-color: #001529 !important;
    color: #ffffff !important;
}

/* Tùy chỉnh footer modal */
.modal-versions .ant-modal-footer {
    background-color: #001529 !important;
    color: #ffffff !important;
}

.form-add-version label {
    color: #ffffff !important;
}