/* Tùy chỉnh màu nền của toàn bộ table */
.admin {
    min-height: calc(100vh - 64px);
    background-color: #162f48;
}

.admin :global(.ant-table),
.tableVersions :global(.ant-table) {
    background: #001529;
    color: #ffffff;
}

/* Tùy chỉnh header của table */
.admin :global(.ant-table-thead > tr > th),
.tableVersions :global(.ant-table-thead > tr > th) {
    background: #001529 !important;
    color: #ffffff !important;
    border-bottom: 1px solid #434343;
}

/* Tùy chỉnh các hàng dữ liệu */
.admin :global(.ant-table-tbody > tr > td),
.tableVersions :global(.ant-table-tbody > tr > td) {
    background: #001529 !important;
    border-bottom: 1px solid #434343;
}

/* Nếu bạn muốn custom các hover row */
.admin :global(.ant-table-tbody > tr:hover > td),
.tableVersions :global(.ant-table-tbody > tr:hover > td) {
    background: #002140 !important;
}

/* Tùy chỉnh modal */
.admin :global(.ant-modal-content),
.modalVersions :global(.ant-modal-content) {
    background-color: #001529 !important;
    color: #ffffff !important;
}

.notViewed {
    color: rgb(223, 94, 94);
}

/* Tùy chỉnh modal container */
.modalVersions :global(.ant-modal-content) {
    background-color: #001529 !important;
    color: #ffffff !important;
    border-radius: 4px;
}

/* Tùy chỉnh header của modal */
.modalVersions :global(.ant-modal-header) {
    background-color: #001529 !important;
    border-bottom: 1px solid #434343 !important;
}

/* Tùy chỉnh tiêu đề modal */
.modalVersions :global(.ant-modal-title) {
    color: #ffffff !important;
}

/* Tùy chỉnh body modal */
.modalVersions :global(.ant-modal-body) {
    background-color: #001529 !important;
    color: #ffffff !important;
}

/* Tùy chỉnh footer modal */
.modalVersions :global(.ant-modal-footer) {
    background-color: #001529 !important;
    color: #ffffff !important;
}


/* Tùy chỉnh icon filter */
.admin :global(.ant-table-filter-trigger) {
    color: white !important;
}

.admin :global(.ant-table-filter-trigger.active) {
    color: white !important;
}

.customTabs :global(.ant-tabs-tab) {
    color: white !important;
    /* Chữ tab màu trắng khi chưa active */
}

/* Tùy chỉnh thanh cuộn trong bảng */
:global(.ant-table-body) {
    scrollbar-color: white #001529;
}